body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #1b2b59,
    #393d7d,
    #5c4ea0,
    #845ec2
  );
  background-repeat: no-repeat;
}
.converterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  color: #fff;
  opacity: 0.5;
  padding: 1rem;
  width: 350px;
  height: 300px;
  gap: 10px;
  color: var(--negro);
  font-weight: 500;
  margin-top: 100px;
  left: auto;
  right: auto;
  box-shadow: 10px 9px 10px -6px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 10px 9px 10px -6px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 10px 9px 10px -6px rgba(0, 0, 0, 0.99);
  justify-items: center;
  text-align: center;
  border-radius:10px;
}
input {
  height: 25px;
  text-align: center;
  border: 1px solid black;
  align-self: center;
}
.converterTitle {
  text-justify: auto;
  color: #fff;
}

#inputType,
#resultType {
  border: 1px solid black;
  align-self: center;
}
